# Salt Secret Key For Hashing Password
SECRET_HASH_KEY="niwi"

# =======================
# Authentication
# =======================
#
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
# Twitter
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# =======================
# Database Connection
# =======================
#
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
#
DATABASE_URL="mongodb://niwi:1234@localhost:27017/niwi?authSource=admin&directConnection=true"
