/*=============================================
=                  Variables                  =
=============================================*/
:root {
  --niwi-blog-publish-img-color: #eee;
  --niwi-dark-blog-publish-img-color: #313339;
}

/*=============================================
=                Preview Modal                =
=============================================*/
.niwi-blog-publish-preview-modal {
  background-color: var(--niwi-background, #f4f4f5);

  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .niwi-blog-publish-preview-modal {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.niwi-blog-publish-preview-modal.inactive {
  display: none;
  /* Animation */
  animation-name: niwi-blog-publish-preview-modal-content-close-animation;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes niwi-blog-publish-preview-modal-content-close-animation {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.dark .niwi-blog-publish-preview-modal {
  background-color: var(--niwi-dark-background, #2b2d31);
}

.niwi-blog-publish-preview-modal.active {
  /* Active */
  display: block;
  opacity: 1;
  visibility: visible;
}

.niwi-blog-publish-preview-modal.active .content {
  /* Animation */
  animation-name: niwi-blog-publish-preview-modal-content-animation;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes niwi-blog-publish-preview-modal-content-animation {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.niwi-blog-publish-preview-modal .content {
  max-width: 1060px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  overflow-y: auto;
}

.niwi-blog-publish-preview-modal .content .section-wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 14px;
}

@media screen and (min-width: 768px) {
  .niwi-blog-publish-preview-modal .content .section-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
}

.niwi-blog-publish-preview-modal .content .section-wrapper .section {
  flex: 1;
  width: 100%;
}

.niwi-blog-publish-preview-modal .close-icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.niwi-blog-publish-preview-modal .close-icon svg {
  cursor: pointer;
  margin-bottom: 10px;
}

/*=============================================
=                Blog Styling                 =
=============================================*/

.niwi-blog-publish-preview-modal .blog-image {
  min-height: 200px;
}

.niwi-blog-publish-preview-modal .niwi-blog-image-container {
  background-color: var(--niwi-blog-publish-img-color);

  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .niwi-blog-publish-preview-modal .niwi-blog-image-container {
  background-color: var(--niwi-dark-blog-publish-img-color);
}

.niwi-blog-image-empty-text {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.4;
}

.niwi-blog-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-positoin: center center;
}

.niwi-blog-preview-button {
  color: white;
  padding: 5px 18px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #000000b0;
  position: relative;
  opacity: 0.6;
  font-size: 12px;
  margin-top: 6px;
}

.niwi-blog-preview-button:hover {
  opacity: 1;
}

.niwi-blog-preview-photo-changer-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.niwi-blog-preview-photo-changer-container .item {
  width: 33%;
  height: 33%;
  padding-top: 33%;
  position: relative;
  cursor: pointer;
}

.niwi-blog-preview-photo-changer-container .item:hover {
  opacity: 0.7;
}

.niwi-blog-preview-photo-changer-container .item .item-img {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
}
