@import url("https://fonts.googleapis.com/css2?family=Lancelot&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Niwi Custom Theme */
:root {
  /* Font Size */

  /* Link Hover */
  --ifm-navbar-link-hover-color: #7c2ed2;

  /* Text Color */
  --ifm-color-primary: #b87aff;
  --ifm-color-primary-dark: #a454ff;
  --ifm-color-primary-darker: #9a41ff;
  --ifm-color-primary-darkest: #7c09ff;
  --ifm-color-primary-light: #cca0ff;
  --ifm-color-primary-lighter: #d6b3ff;
  --ifm-color-primary-lightest: #f4ebff;

  /* Navbar */
  --navbar-border: #fcfcfc;

  /* Code Tabs */
  --ifm-pre-padding: 10px;

  /* Tabs-Background */
  --tabs-border: #dfdfdf;
  --tabs-background: #eeeeee;
}

[data-theme="dark"] {
  --ifm-navbar-background-color: #0b0a11;
  --ifm-background-color: #0b0a11 !important;

  /* Link Hover */
  --ifm-navbar-link-hover-color: #7c2ed2;

  /* Text Color */
  --ifm-color-primary: #b87aff;
  --ifm-color-primary-dark: #a454ff;
  --ifm-color-primary-darker: #9a41ff;
  --ifm-color-primary-darkest: #7c09ff;
  --ifm-color-primary-light: #cca0ff;
  --ifm-color-primary-lighter: #d6b3ff;
  --ifm-color-primary-lightest: #f4ebff;

  /* Navbar */
  --navbar-border: #1e1e1e;

  /* Code Tabs */
  --ifm-pre-padding: 10px;

  /* Tabs-Background */
  --tabs-header: #0b0a10;
  --tabs-border: #282828;
  --tabs-background: #0d0c14;
}

.container > div > div > div {
  max-width: 720px;
  margin: 0 auto;
}

.navbar {
  border-bottom: 1px solid var(--navbar-border);
}

.menu__list {
  padding-right: 10px;
}

/* Navbar */

.niwi-nav-logo-item {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.niwi-nav-logo-item * {
  width: 24px;
  height: 24px;
}

/* Aside */
.theme-doc-sidebar-container {
  border-right: none !important;
}

.padding-bottom--lg {
  padding-top: 2.5rem !important;
}

nav.menu {
  padding-top: 2rem !important;
  border-right: 1px solid var(--navbar-border);
}

.table-of-contents__left-border {
  border-color: var(--navbar-border);
}

li > a.menu__link {
  justify-content: flex-start;
}

.side-link-gif div a,
.side-link-gif > a {
  padding-left: 36px;
  position: relative;
}

.side-link-gif div a::before,
.side-link-gif > a::before {
  position: absolute;
  left: 12px;
  content: " ";
  background-repeat: no-repeat;
  background-size: contain;
}

.niwi-get-started > a::before {
  width: 17px;
  height: 15px;
  background-image: url(/img/niwi-blog.gif);
}

.niwi-project > a::before {
  width: 17px;
  height: 15px;
  background-image: url(/img/niwi-seed.gif);
}

.niwi-auth div a::before {
  width: 17px;
  height: 15px;
  background-image: url(/img/niwi-lock.gif);
}

.niwi-built-in div a::before {
  width: 17px;
  height: 15px;
  background-image: url(/img/niwi-seo.gif);
}

.niwi-testing div a::before {
  width: 17px;
  height: 15px;
  background-image: url(/img/niwi-testing.gif);
}

.niwi-mini-apps > a::before {
  width: 17px;
  height: 15px;
  background-image: url(/img/niwi-mini-apps.gif);
}

/* Headers */
.markdown h1:first-child {
  font-size: 2rem;
  margin-bottom: 8px;
}

.markdown p {
  margin-bottom: 8px;
}

/* Tab Group */
[data-theme="dark"] .tabs-container {
  background-color: var(--tabs-background);
  border: 1px solid var(--tabs-border);
}

.tabs-container {
  background: #eeeeee;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  overflow-x: hidden;
}

.tabs-container .margin-top--md {
  margin-top: 0 !important;
}

.tabs-container ul {
  background-color: var(--tabs-header);
  border-bottom: 1px solid var(--tabs-border);
}

.tabs-container pre code {
  border: none;
}

pre code {
  font-size: 14px !important;
  background: #eeeeee !important;
  border: 1px solid var(--tabs-border);
}

[data-theme="dark"] pre code {
  background: var(--tabs-background) !important;
}

.tabs__item {
  padding: 10px;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: normal;
}

.tabs__item:hover {
  background: transparent;
}

.tabs__item--active {
  border-bottom-width: 1px;
}

.theme-code-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tabs-container .theme-code-block {
  margin-top: 0px;
}

.markdown > h2 {
  margin-top: 20px;
}

.theme-code-block {
  background: var(--tabs-background) !important;
  /* border: 1px solid var(--tabs-border); */
}

.theme-code-block > div:first-child {
  /* border-bottom: 1px solid var(--tabs-border); */
}

body, 
.markdown h1:first-child,
.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.markdown > h2 {
  font-size: 1.75rem;
  margin-bottom: 8px;
}

.markdown > h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.markdown h1:first-child {
  display: inline-block;
  color: transparent;
  background: #7e22ce;
  background: linear-gradient(to right, #f43f5e 0%, #7e22ce 50%, #60a5fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
}

code {
  background: var(--tabs-background);
  border: 1px solid var(--tabs-border);
  padding: 1px 10px;
  font-size: 14px;
}

.tabs-container code {
  border: none;
  display: inline-block;
  /* margin: 8px 0px; */
  padding: 10px;
}

.theme-doc-sidebar-item-link-level-2 a {
  font-size: 14px;
  padding-left: 24px;
}

.language-tsx > div:first-child {
  border: 1px solid var(--tabs-border);
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 18px;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 18px;
}

.sperate-top-navbar {
  border-top: 1px solid var(--navbar-border);
  padding-top: 2px;
}