/*=============================================
=                  Variables                  =
=============================================*/
:root {
  /* Editor Container */
  --niwi-editor-text-container-color: #ffffff;
  --niwi-dark-editor-text-container-color: #313339;

  /* Cursor Color */
  --niwi-editor-cursor-color: rgb(5, 5, 5);
  --niwi-dark-editor-cursor-color: #60a5fa;

  /* Text Color */
  --niwi-editor-text-color: #0a0a0a;
  --niwi-dark-editor-text-color: #f1f3f5;
}

/*=============================================
=                   Editor                    =
=============================================*/

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  margin: 20px auto 20px auto;
  max-width: 860px;
  color: var(--niwi-editor-text-color, #0a0a0a);
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.dark .editor-container {
  color: var(--niwi-dark-editor-text-color, #f1f3f5);
}

.editor-inner {
  background-color: var(--niwi-editor-text-container-color, #ffffff);
  position: relative;
  border-radius: 20px;
}

.dark .editor-inner {
  background-color: var(--niwi-dark-editor-text-container-color, #313339);
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 20px;
  caret-color: var(--niwi-editor-cursor-color, #60a5fa);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 20px;
  caret-color: #444;
}

.dark .editor-input {
  caret-color: var(--niwi-dark-editor-cursor-color, #f1f3f5);
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px;
  left: 20px;
  font-size: 20px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
  height: 22px;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  margin: 1px auto 10px auto;
  max-height: 250px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  line-height: 14px;
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}
