/*=============================================
=                  Variables                  =
=============================================*/
:root {
  --niwi-editor-side-button-text-color: #0a0a0a;
  --niwi-editor-dark-side-button-text-color: #f1f3f5;

  /* Left Side Action Button */
  --niwi-editor-side-primary-background: #ffffff;
  --niwi-editor-dark-side-primary-background: #1d1f23;

  /* Right Side Action Button */
  --niwi-editor-right-action-color: #60a5fa;
  --niwi-hover-editor-right-action-color: #cee4ff;
  --niwi-dark-hover-editor-right-action-color: #2a3d54;

  /* Top Toolbar Action */
  --niwi-editor-toolbar-container-color: #fff;
  --niwi-editor-dark-toolbar-container-color: #1d1f23;
  --niwi-editor-toolbar-border-color: #fff;
  --niwi-editor-dark-toolbar-border-color: #60a5fa38;

  /* Top Toolbar Icon Hover */
  --niwi-editor-side-button-hover-bg-color: #f1f3f5;
  --niwi-editor-dark-side-button-hover-bg-color: #60a5fa38;

  /* Toolbar Active Gradient Color */
  --niwi-editor-gradient-color-1: #f43f5e;
  --niwi-editor-gradient-color-2: #7e22ce;
  --niwi-editor-gradient-color-3: #60a5fa;
}

/*=============================================
=                Editor Tools                 =
=============================================*/

.editor-side-actions-container {
  display: flex;
  flex-direction: row;
  z-index: 100;
}

.editor-side-actions-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  background-color: var(--niwi-editor-side-primary-background, #ffffff);
  color: var(--niwi-editor-side-button-text-color, #0a0a0a);
}

.dark .editor-side-actions-button {
  background-color: var(--niwi-editor-dark-side-primary-background, #1d1f23);
  color: var(--niwi-editor-side-button-dark-text-color, #f1f3f5);
}

.editor-side-actions-button.active {
  transition: 0.1s all ease-in-out;
  rotate: 45deg;
}

.editor-side-right-actions-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  background-color: var(--niwi-editor-side-primary-background, #ffffff);
  color: var(--niwi-editor-side-button-text-color, #0a0a0a);
  border: 0.5px solid var(--niwi-editor-right-action-color, #60a5fa);
  color: var(--niwi-editor-right-action-color, #60a5fa);

  /* Animation */
  opacity: 0;
  scale: 0.5;
  animation-name: editor-tools-button-fade-in;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.editor-side-right-actions-button:hover {
  background-color: var(--niwi-hover-editor-right-action-color, #cee4ff);
}

.dark .editor-side-right-actions-button {
  background-color: var(--niwi-editor-dark-side-primary-background, #1d1f23);
  border: 1.5px solid var(--niwi-editor-right-action-color, #60a5fa);
}

.dark .editor-side-right-actions-button:hover {
  background-color: var(--niwi-dark-hover-editor-right-action-color, #2a3d54);
}

.editor-side-actions-container {
  display: flex;
  column-gap: 10px;
}

@keyframes editor-tools-button-fade-in {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

/*=============================================
=            Editor Tools Top Bar             =
=============================================*/

.niwi-editor-toolbar-container {
  display: flex;
  column-gap: 6px;
  background-color: var(--niwi-editor-toolbar-container-color, #f1f3f5);
  border-radius: 10px;
  padding: 8px;
  z-index: 100;

  /* Animation */
  opacity: 0;
  scale: 0.5;
  animation-name: editor-tools-button-fade-in;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;

  /* Shadow */
  box-shadow: 0 0 5px 2px #d2d2d25e;
}

.dark .niwi-editor-toolbar-container {
  background-color: var(--niwi-editor-dark-toolbar-container-color, #1d1f23);
  box-shadow: 0 0 5px 2px #1d1f23;
}

.niwi-editor-toolbar-btn {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--niwi-editor-side-primary-background, #ffffff);
  cursor: pointer;

  /* Animation */
  opacity: 0;
  scale: 0.5;
  animation-name: editor-tools-button-fade-in;
  animation-duration: 0.2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.dark .niwi-editor-toolbar-btn {
  background-color: var(--niwi-editor-dark-side-primary-background, #1d1f23);
}

.niwi-editor-toolbar-btn:hover {
  background-color: var(--niwi-editor-side-button-hover-bg-color, #f1f3f5);
}

.dark .niwi-editor-toolbar-btn:hover {
  background-color: var(
    --niwi-editor-dark-side-button-hover-bg-color,
    #60a5fa38
  );
}

.niwi-editor-toolbar-btn.active {
  color: white;
  --niwi-editor-gradient-color-3: #60a5fa;
  background: var(--niwi-editor-gradient-color-3);
  background: -webkit-linear-gradient(
    to bottom right,
    var(--niwi-editor-gradient-color-1),
    var(--niwi-editor-gradient-color-3)
  );
  background: linear-gradient(
    to bottom right,
    var(--niwi-editor-gradient-color-1),
    var(--niwi-editor-gradient-color-3)
  );
}

.niwi-editor-link-container {
  display: none;
  box-shadow: 0 0 5px 2px #d2d2d25e;
  padding: 5px;
  border-radius: 5px;
}

.niwi-editor-link-container.active {
  display: block;
}

.dark .niwi-editor-link-container {
  background-color: var(--niwi-editor-dark-side-primary-background, #1d1f23);
  box-shadow: 0 0 5px 2px #1d1f23;
}

.niwi-editor-link {
  padding: 2px;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
}

.niwi-editor-placeholder {
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 8px;
}
